.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  color: var(--white);
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--white);
  display: none;
  cursor: pointer;
}

/* Desktop nav links */
.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  position: relative;
  font-size: larger;
  color: var(--white);
  font-family: Oswald, sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transition: transform 0.4s ease;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--black);
    text-align: center;
    padding: 1rem 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-link {
    padding: 0.75rem 0;
  }
}
