.Av {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100svh;
  transform: translate(-50%, -50%);
  background-color: #000;
  z-index: -1;
  overflow: hidden;
}

.Av video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.about-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex; /* Flex to center the content */
  justify-content: center;
  align-items: center;
  padding: 2rem;

  color: var(--white);
  box-sizing: border-box;
}

.about-container {
  max-width: 800px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.about-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-container p {
  font-size: 1.15rem;
  line-height: 1.7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .about-container {
    max-width: 90%;
  }

  .about-container h1 {
    font-size: 1.8rem;
  }

  .about-container p {
    font-size: 1rem;
  }
}
